@font-face {
    font-family: mainFont;
    src: url(../Catamaran/Catamaran-Bold.ttf);
}
.mainContent{
    font-family: mainFont;
    width: 100%;
    display: flex;
}
.ava{
    width: 20%;
    margin-left: 30px;
}
.info{
    width: 30%;
    margin-left: 30px;
    position: relative;
}
.avatar img{
    width: 100%;
    margin-top: 30px;
}
.status p{
    color: navy;
}
a{
    text-decoration: none;
    margin-left: 10px;
    color: #4694A0;
}
.message{
    display: block;
    width: 100%;
    padding: 10px 10px;
    background-color: #F7575C;
    color: white;
    font-family: mainFont;
}
.vote{
    position: absolute;
    float: right;
    margin-left: 80px;
}
div.status i{
    color: #4694A0;
}
.fas, .fab{
    font-size: 25px;
}