*{
    box-sizing:border-box;
}
@font-face {
    font-family: 'Conv_Catamaran-Regular';
    src: url('../fonts/Catamaran-Regular.eot');
    src: url('../fonts/Catamaran-Regular.woff') format('woff'), url('../fonts/Catamaran-Regular.ttf') format('truetype'), url('../fonts/Catamaran-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'Conv_Catamaran-Regular';
}
.clearfix{
    overflow: auto;
}
.img img{
    width: 100%;
}
.content{
    width:1024px;
    margin: auto;
}
.tung{
    position: relative;
}
.tung-left{
    position: absolute;
    top:20px;
    left:10px;
    width: 135px;
}
.tung__btn button{
   width: 100%;
    border: none;
    color: white;
    font-size: 15px;
    line-height: 43px;
}
.btn--red{
    background: #f7575c;
}
.dot{
    width: 100%;
    position: absolute;
    top:110px;
    left: 47px;
    display: inline-block;
    margin: auto;

}
.dots{
    width:8px;
    height:8px;
    background:white;
    border-radius:50%;
    display: inline-block;
}
.dots.dot--active{
    width: 9px;
    height: 9px;
    background: transparent;
    border: 1px solid #d0d0d0;
}
.tung-right{
    max-width:350px;
    margin-left: 168px;
}
.country{
    width: 50%;
    float:left;
    text-align: left;
}
.rating{
    width: 50%;
    float:left;
    text-align: right;
}
.fa-star.checked{
    border: 1px solid white;
    background: transparent !important;
}
.tung__social ul li a{
    text-decoration:none;
}
.tung__social ul{
    list-style-image: url("../img/icon1.jpg");
}
.tung__title h2{
    padding-top:9px;
    margin: 0;
}
.tung__rating{
    font-size: 12px;
    font-weight: 700;
}
.tung__social ul li a{
    color: #4d9daa;
}
.content2{
    max-width: 1124px;
    margin: auto;
    background:red;
}
.tung-item{
    width: 33.33%;
    float: left;
    position: relative;
    padding: 0 10px;
}

.country-date{
    position: absolute;
    top: 171px;
    width: 95%;
    color: white;
}

.country-date .nation{
    float: left;
    padding-left: 20px;
    font-size: 23px;
    font-weight: 700;
}
.country-date .date{
    float: right;
    padding-right:15px;
}
.tung-item__caption h3{
    margin: 0;
}
.tung-item__caption p{
    margin: 0;
    font-size:14px;
}
.tung-item__caption{
    font-weight:600;
}
.tung-item__caption a{
    text-decoration: none;
}
.tung-item__img img{
    max-height: 218px;
}
.tung-item__caption span, a{
    font-size:14px;
}
.content3{
    max-width:720px;
    margin: auto;
}
.banner{
    height: 355px;
    background: url("../img/5cd8491891210d712c8b6fba2ba9ef81.jpeg") no-repeat center;
    background-size: cover;
    position: relative;
}
.banner-text{
    color: white;
    position: absolute;
    left: 50px;
    top: 85px;
    width: 645px;

}
.banner__price{

}

.banner__title h1{
    font-size: 39.5px;
    margin: 0;
    line-height:38px;
}
.banner__adventure{
    font-size: 25px;
    margin: 87px 0 0 0;
}
.banner__chuck{
    display: inline-block;
    float: left;
}
.banner__star{
    display: inline-block;
    float: right;
}
.banner__rating{
    font-size:25px;
}
.banner__rating a{
    font-size:25px;
    text-decoration: none;
    padding-left: 10px;
    color:#237d8c;
}
.banner--number{
    padding-left: 10px;
}

.info-top__item{
    width:33.33%;
    float:left;
    padding:0 15px;
}
.info-top__item .start .title:before{
    display: inline-block;
    content: '\f041';
    font-family: FontAwesome;
    padding-right: 15px;

}
.info-top__item .start span{
    font-weight: 600;
}
.info-top__item .start a{
    text-decoration: none;
}
